@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

.module {
    position: absolute;
    cursor: pointer;
    border: 1px dashed #0F0;
    visibility: hidden;
    z-index: 1;
}

.title {
    position: absolute;
    top: 100%;
    height: 0px;
    font-size: 12px;
    width: 100%;
    text-align: center;
    visibility: visible;
    z-index: 1;
}

.content {
    visibility: visible;
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
}

.content img {
    vertical-align: middle;
}

/*缩放控制点*/
.top_left {
    font-size: 0px;
    width: 5px !important;
    height: 5px !important;
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    background-color: #00F;
    position: absolute;
    z-index: 1;
    background-color: #0F0;
    cursor: nw-resize;
    z-index: 1;
}

.top_right {
    font-size: 0px;
    width: 5px !important;
    height: 5px !important;
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    background-color: #00F;
    position: absolute;
    z-index: 1;
    background-color: #0F0;
    cursor: ne-resize;
    z-index: 1;
}

.middle_left {
    font-size: 0px;
    width: 5px !important;
    height: 5px !important;
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    background-color: #00F;
    position: absolute;
    z-index: 1;
    background-color: #0F0;
    cursor: w-resize;
    z-index: 1;
}

.middle_right {
    font-size: 0px;
    width: 5px !important;
    height: 5px !important;
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    background-color: #00F;
    position: absolute;
    z-index: 1;
    background-color: #0F0;
    cursor: w-resize;
    z-index: 1;
}

.bottom_left {
    font-size: 0px;
    width: 5px !important;
    height: 5px !important;
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    background-color: #00F;
    position: absolute;
    z-index: 1;
    background-color: #0F0;
    cursor: sw-resize;
    z-index: 1;
}

.bottom_right {
    font-size: 0px;
    width: 5px !important;
    height: 5px !important;
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    background-color: #00F;
    position: absolute;
    z-index: 1;
    background-color: #0F0;
    cursor: nw-resize;
    z-index: 1;
}

.scaling {
    font-size: 0px;
    width: 5px !important;
    height: 5px !important;
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    background-color: #00F;
    position: absolute;
    z-index: 1;
    background-color: #0F0;
    cursor: nw-resize;
    z-index: 1;
}

.hidden {
    width: 400px;
    height: 400px;
    background-color: #030;
    z-index: 1;
}

.container {
    overflow: hidden;
    text-align: left;
}

.link-icon-style, .node-icon-style {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.right-click-menu {
    position: absolute;
    width: 180px;
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #b7c8f6;
}

.show {
    width: 200px;
    height: 100px;
    overflow: auto;
    border: 1px #99bbe8 solid;
    background-color: #ffffff;
    float: right;
    margin-top: 3px;
}

.message {
    position: absolute;
    top: 0px;
    left: 60px;
}

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
}

.control {
    position: relative;
    width: 100%;
}

.topology-context {
    overflow: auto;
    position: relative;
    background: #fff url(/jTopo_topology/static/jtopo/img/backimg.png);
}

/********** 顶部工具栏 **********/
.toolbar-icon {
    padding-top: 20px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.56);
    cursor: pointer;
}

/********** 右键菜单 **********/
.menu-item {
    padding-left: 5px;
    width: 100%;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    text-align: left;
    border-bottom: 1px dotted #cccccc;
}

.menu-item span {
    margin-left: 5px;
    font-size: 16px;
}

/********** 节点悬浮信息 **********/
.node-infobox {
    font-size: 12px;
    width: 130px;
    border: 1px solid #dddddd;
    text-align: left;
    position: absolute;
    background-color: #ffffff;
    padding: 6px;
    box-shadow: 2px 2px 2px #888888, -1px -1px 2px #888888, 1px -1px 2px #888888, 1px 2px 2px #888888;
    z-index: 999;
    opacity: 0.8;
}

.node-infobox span {
    display: block;
    margin-bottom: 4px;
}

.node-infobox span label {
    margin-right: 4px;
    font-size: 12px;
}